@import '@fontsource-variable/jetbrains-mono/wght.css';

@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-base: #1e1e2e;
  --color-surface: #181825;
  --color-overlay: #313244;
  --color-subtle: #9399b2;
  --color-rose: #f2cdcd;
  --color-love: #f38ba8;
  --color-gold: #f9e2af;
  --color-pine: #89b4fa;
  --color-foam: #89dceb;
  --color-muted: #6c7086;
  --color-iris: #cba6f7;
  --color-white: #cdd6f4;

  --font-jetbrains-mono: 'JetBrains Mono Variable', monospace;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
    body {
        @apply bg-base;
        @apply text-white;
        @apply text-xl;
        @apply font-jetbrains-mono;
    }

    h1 {
        @apply text-6xl;
        @apply mb-8;
        @apply font-bold;
        @apply text-gold;
    }

    h2 {
        @apply text-4xl;
        @apply font-bold;
        @apply text-rose;
        @apply mb-8;
        @apply mt-12;
    }

    h3 {
        @apply text-2xl;
        @apply font-bold;
        @apply text-iris;
        @apply my-4;
    }

    strong {
        @apply text-iris;
    }

    a {
        @apply text-foam;
        position: relative;
    }

    ul {
        @apply list-disc;
        margin-left: 2rem;
    }

    a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
        @apply bg-foam;
    }

    a:hover::after {
        transform: scaleX(1);
    }
}
